::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Death Note.ttf";
  font-style: normal;
  font-weight: normal;
  src: local("Death Note.ttf"), url("Death Note.woff") format("woff");
}
* {
  font-family: "Death Note.ttf";
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
.cover,
.page {
  margin: 0;
  padding: 0;
  background-image: url("cover.png");
  /* your image file */
  background-size: contain; /* keeps aspect ratio */
  background-repeat: no-repeat;
  background-position: center top;
  background-color: black; /* or #111 to match the mood */
  height: 100vh; /* make it full screen */
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
#typewriter-button {
  background: black;
  color: white;
  font-size: 2.5em;
  font-family: "Courier New", monospace;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: none;
}

#button-text {
  display: inline-block;
  white-space: nowrap;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}

.page-number {
  position: absolute;
  bottom: 20px;
  right: 30px;
  font-size: 4em;
  color: white;
  opacity: 0.8;
  pointer-events: none;
}

#hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.lines {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  font-size: 1.5em;
  line-height: 1.6em;
  font-family: "DeathNote", serif;
  color: white;
}

.line {
  height: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  position: relative;;
  z-index: 500;
  color: #000;
}


.phones{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  font-size: 1.5em;
  line-height: 1.6em;
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 60%;
  font-size: 2em;
  display: none;
}

@media (max-width: 780px) {
  .phones {
    display: block;
  }
  button{
    display: none;
  }
}
